@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1400&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
a{
    font-weight: 1000;
    background-image: url("backgroundtext.jpg");
    -webkit-background-clip: text;
    color: transparent;
}
.container{
    width: 80%;
    margin: auto;
    transition: 0.4s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 20px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping ion-icon:nth-child(1){
    margin-top: 50px ;
    width: 100%;
}
header img{
    width: 50%;
    height: 50%;
}
header .shopping span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 25px;
    padding: 2px 8px;
}
.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.card{
    position: fixed;
    top: 0;
    left: 100%;
    width: 25%;
    background-color: #454e3b;
    height: 100vh;
    transition: 0.5s;
}
.card h1{
    color: #e8bc0e;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 50px;
    display: flex;
    align-items: center;
}
.card .checkout{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card .checkout div{
    background-color: #e8bc0e;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkout div:nth-child(2){
    background-color: #1c1f25;
    color: #fff;
}
.active .card{
    left: calc(100% - 25%);
}
.active .container{
    transform: translateX(-10%);
}
.list .item{
    text-align: center;
    background-color: #dce0e1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 60%;
}
.list .item .title{
    margin-top: 10px;
    font-weight: 100;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1c1f25;
    color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    
}
.listCard li{
    display: grid;
    grid-template-columns: 75px repeat(3, 1fr);
    color: #FFF;
    row-gap: 10px;
    margin-bottom: 10px;
    overflow:auto;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: small;
}
.listCard li img{
    
    width: 70%;
}
.listCard button{
    width: auto;
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}